<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="jumbotron text-center">
      <h1 class="text-danger">Upcoming Gigs</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Venue</th>  
              <th>Availability</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>23/12/2017</td>
              <td>Dublin, Ireland</td>
              <td>Three Areana</td> 
              <td>Sold Out</td> 
            </tr>  
            <tr>
              <td>24/12/2017</td>
              <td>Belfast, Ireland</td>
              <td>The SSE Arena</td>
              <td>Some Tickets Left</td>  
            </tr>
            <tr>
              <td>25/12/2017</td>
              <td>North Pole</td>
              <td>Santa's Grotto</td> 
              <td>Available</td> 
            </tr>
            <tr>
              <td>10/01/2018</td>
              <td>London, England</td>
              <td>O2 Arena</td> 
              <td>Some Tickets Left</td> 
            </tr>
            <tr>
              <td>20/01/2018</td>
              <td>Frankfurt, Germany</td>
              <td>Commerzbank Arena</td> 
              <td>On Sale 01/01/2018</td> 
            </tr>
            <tr>
              <td>12/02/2018</td>
              <td>Amsterdam, Netherlands</td>
              <td>Amsterdam Arena</td>  
              <td>On Sale 25/01/2018</td>
            </tr>
          </tbody> 
        </table>  
      </div>
    </div>  
  </div>  
</div>

