<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="jumbotron text-center">
      <h1 class="text-danger">Upcoming Gigs</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>location</th>
              <th>Venue</th>
              <th>Availability</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of this.dataService.bookedDate">
                <td>{{ i.date }}</td>
                <td>{{ i.location }}</td>
                <td>{{ i.venue }}</td>
                <td>{{ i.availability }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>  
</div>

