<div class="jumbotron">
    <div class="row margin-top">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center">
                <h2>Micky Dolenz</h2>
                <img src="assets/images/MickyDolenz.png" style="width:80%">
            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12">
            <p>In 1965, Dolenz was cast in the television sitcom The Monkees and became the drummer and a lead vocalist in the band created for the show. He was not actually a drummer and needed lessons even to be able to mime credibly, but eventually was taught how to play properly. By the time The Monkees went on tour in late 1966, Dolenz was competent enough to play the drums himself.[3] (He learned to play right-handed and left-footed because of a leg disease called Perthes making his right leg weaker.)</p>
            <br>
            <p>Tommy Boyce and Bobby Hart, writers of many of The Monkees' songs, observed quickly that when brought into the studio together, the four actors would try to make each other laugh. Because of this, the writers would often bring in each singer individually. The antics escalated until one time Micky poured a cup of coke on Don Kirshner's head; at the time, Dolenz did not know Kirshner on sight.</p>
            <br>
            <p>According to Mike Nesmith, it was Dolenz's voice that made The Monkees' sound distinctive,[4] and during tension-filled times Nesmith and Peter Tork voluntarily turned over lead vocal duties to Dolenz on their own compositions.</p>
            <br>
            <p>Dolenz wrote a few of the band's self-penned songs, most prominent being "Randy Scouse Git" from the album Headquarters. He provided the lead vocals for such hits as "Last Train to Clarksville", "Take a Giant Step" and "I'm a Believer". Toward the end of the series' hectic two-year run, Dolenz directed and co-wrote the show's final episode</p>
            <br>
            <p>Dolenz purchased one of the first 25 Moog synthesizers, the third Moog synthesizer commercially sold. (The first two belonged to Wendy Carlos and Buck Owens.) His performance on The Monkees song "Daily Nightly" (written by Michael Nesmith) from the LP Pisces, Aquarius, Capricorn & Jones Ltd. was one of the first uses of the synthesizer on a rock recording. He eventually sold his instrument to Bobby Sherman.</p>
            <br>
            <p>He is the only member of The Monkees who has been with the band continuously since its inception.</p>
        </div>
    </div>
</div>
