<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-2 social">
        <a href="/contact">
          <i class="fa fa-facebook-square" aria-hidden="true" ></i>
        </a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-2 social">
    <a href="/contact">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-2 social">
    <a href="/contact">
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-2 social">
    <a href="/contact">
      <i class="fa fa-spotify" aria-hidden="true"></i>
    </a>
  </div>
</div>
