<div class="row">
    <div class="col-lg-12 col-12">
        <div class="text-center">
            <img src="assets/images/MonkeesLogo.gif">
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-3 col-12">
        <div class="text-center">
            <img src="assets/images/DavyJones.png" style="width:80%">
        </div>
    </div>
    <div class="col-lg-3 col-12">
            <div class="text-center">
                <img src="assets/images/MickyDolenz.png" style="width:80%">
            </div>
    </div>
    <div class="col-lg-3 col-12">
            <div class="text-center">
                <img src="assets/images/PeterTork.png" style="width:80%">
            </div>
    </div>
    <div class="col-lg-3 col-12">
            <div class="text-center">
                <img src="assets/images/MichaelNesmith.png" style="width:80%">
            </div>
    </div>
    
</div>
<br><br>
<div class="row">
    <div class="col-12">
        <div class="text-center">
         <img src="assets/images/bandPlaying.jpg" style="width: 100%">
        </div>
    </div>
</div>
<br><br>