<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
                <h1 class="text-danger text-center">The Band</h1>
        </div>
    </div>
    
    <div class="row margin-top">
        <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                <img class="main-img" src="assets/images/band.jpg" alt="Monkees Image" style="width:80%">
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12">
            <p>The Monkees are an American rock and pop band originally active between 1965 and 1971, with subsequent reunion albums and tours in the decades that followed. They were formed in Los Angeles in 1965 by Bob Rafelson and Bert Schneider for the American television series The Monkees, which aired from 1966 to 1968. The musical acting quartet was composed of Americans Micky Dolenz, Michael Nesmith and Peter Tork and British stage and television actor and singer Davy Jones. The band's music was initially supervised by producer Don Kirshner, backed by the songwriting duo of Tommy Boyce and Bobby Hart.
            </p>
            <br>
            <p>For the first few months of their initial five-year career as "the Monkees", the four actor-musicians were allowed only limited roles in the recording studio. This was due in part to the amount of time required to film the television series. Nonetheless, Nesmith did compose and produce some songs from the beginning, and Peter Tork contributed limited guitar work on the sessions produced by Nesmith. They eventually fought for and earned the right to collectively supervise all musical output under the band's name. The sitcom was canceled in 1968, but the band continued to record music through 1971.
            </p>    
            <br>
            <p>A revival of interest in the television show came in 1986, which led to a series of reunion tours and new records. Until 2011, the group had reunited and toured several times, with varying degrees of success. Despite the sudden death of Davy Jones on February 29, 2012, the surviving members reunited for a tour in November–December 2012 and again in 2013 for a 24-date tour. As of December 2016, they continue to tour, with Dolenz and Tork providing the core of the band, assisted by several other professional musicians, for their 50th anniversary tour through the US, Australia, and New Zealand in 2016. Nesmith was able to free some time up to join them in the latter stages of the US tour.[9][10]
            </p>    
            <br> 
            <p>Dolenz described the Monkees as initially being "a TV show about an imaginary band ... that wanted to be the Beatles, but that was never successful". The actor-musicians became, ironically, one of the most successful bands of the 1960s. The Monkees have sold more than 75 million records worldwide and had international hits, including "Last Train to Clarksville", "Pleasant Valley Sunday", "Daydream Believer", and "I'm a Believer". They are reported to have outsold the Beatles and the Rolling Stones combined in 1967.
            </p>    
        
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center">
                <a class="nav-link text-danger" href="#" routerLink="/davy">
                    <img src="assets/images/DavyJones.png" style="width:80%">
                    <h3>Davy Jones</h3>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center">
                <a class="nav-link text-danger" href="#" routerLink="/micky">
                    <img src="assets/images/MickyDolenz.png" style="width:80%">
                    <h3>Micky Dolenz</h3>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center">
                <a class="nav-link text-danger" href="#" routerLink="/peter">
                    <img src="assets/images/PeterTork.png" style="width:80%">
                    <h3>Peter Tork</h3>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="text-center">
                <a class="nav-link text-danger" href="#" routerLink="/michael">
                    <img src="assets/images/MichaelNesmith.png" style="width:80%">
                    <h3>Michael Nesmith</h3>
                </a>
            </div>
        </div>
    </div>
</div>

