<p>
  photos works!
</p>

<div class="jumbotron jumbotron-fluid">
  <carousel class="text-center">
    <slide>
      <img class="main-image-carosel" src="../assets/images/album.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/album2.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/band.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
