<div class="jumbotron jumbotron-margin-bottom ">
  <h1 class="text-center text-danger">Photos</h1>
  <hr>
  <carousel class="text-center">
    <slide>
      <img class="main-image-carosel" src="../assets/images/album.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/album2.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/band.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img class="main-image-carosel" src="../assets/images/cover.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
     <slide>
      <img class="main-image-carosel" src="../assets/images/cover1.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/cover4.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/monkees.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/monkees-chairs.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="main-image-carosel" src="../assets/images/themonkees-bandW.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
