
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class="container">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/MonkeesLogo.gif" style="width: 100px"></a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/band">Band</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/music">Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/video">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/photos">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/tours">Tours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>