<div class="jumbotron text-danger">
  <h1 class="text-center">Music</h1>
  <hr>
  <div class="row">
    <div class="col-lg-6 text-center player-space">
      <img src="../assets/images/LastTrainToClarksville.jpg" style="width:300px;height:300px;">
      <audio controls>
          <source src="../assets/audio/Clarksville.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <h4>Clarksville</h4>
    </div>
    <div class="col-lg-6 text-center player-space">
        <img src="../assets/images/DayDreamBeliever.jpg" style="width:300px;height:300px;">
        <audio controls>
            <source src="../assets/audio/DaydreamBeliever.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <h4>Day Dream Believer</h4>
      </div>
  </div>
  
  <div class="row">
      <div class="col-lg-6 text-center player-space">
        <img src="../assets/images/ImABeliever.jpg" style="width:300px;height:300px;">
        <audio controls>
            <source src="../assets/audio/ImABeliever.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <h4>Im a Believer</h4>
      </div>
      <div class="col-lg-6 text-center player-space">
          <img src="../assets/images/SteppingStone.jpg" style="width:300px;height:300px;">
          <audio controls>
              <source src="../assets/audio/SteppingStone.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <h4>Stepping Stone</h4>
        </div>
    </div>
</div>